<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>

<body>
    <div id="content">
        <h4>Example 1:</h4>
        <form action="#" method="post" enctype="multipart/form-data">
            <input type="file" name="files[]" id="filer_input" multiple>
            <input type="submit" value="Submit">
        </form>
        <hr />
        <h4>Example 2:</h4>
        <input type="file" name="files[]" id="filer_input2" multiple>
    </div>
</body>

</html>